<html>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/siofu/client.js"></script>
<script src="/js/contextMenu.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<h3>Bienvenue</h3>
<Button onclick="retour()">retour</button>
<Button onclick="addFile()">new file</button>
<Button onclick="addFolder()">new Folder</button>
<div id="elem"></div>
<div id="source" hidden></div>
<div></div>

<table id="tableau" class="table table-condensed">
    <tbody id="myFile">
		<tr>
		<td></td>
		<td></td>
		<td></td>
		</tr>
    </tbody>
  </table>
	<div id="dialog" hidden>
		<textarea id="textAr" style="  border:1px solid #999999;
  width:100%;
  height:100%;
  margin:5px 0;
  padding:3px;"></textarea>
	</div>
  <nav id="context-menu" class="context-menu">
    <ul class="context-menu__items">
      <li class="context-menu__item" ">
	  <!-- onclick="openFolder($('#source').text()) -->
        <a href="#" class="context-menu__link" data-action="open"><i class="fa fa-eye"></i> Open</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="rename"><i class="fa fa-edit"></i> Rename</a>
      </li>
      <li class="context-menu__item">
        <a href="#" class="context-menu__link" data-action="delete"><i class="fa fa-times"></i> Delete</a>
      </li>
    </ul>
  </nav>
</html>




<script>
var nbCell=0;
var nbRow=0;
var socket = io();
var tab = document.getElementById("tableau");
socket.emit("Connect");
var uploader = new SocketIOFileUpload(socket);
uploader.listenOnDrop(document.getElementById("tableau"));

socket.on("yourFold",function(lFold){
	if (nbCell<3){
		tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+lFold+' " class="elem folder" ondblclick="openFolder(this.innerText)"><img id="nom" class="folderImg" ondrop="dropFile(event)" src="folder.png" source="'+lFold+'">'+lFold+'</h2>';
		nbCell++;
	}else{
	nbRow++;
	nbCell=0;
	var nouvelleLigne = document.getElementById("tableau").insertRow(-1);
	nouvelleLigne.insertCell(0);
	nouvelleLigne.insertCell(1);
	nouvelleLigne.insertCell(2);
		tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+lFold+'"class="elem folder"  ondblclick="openFolder(this.innerText)"><img src="folder.png" class="folderImg" source="'+lFold+'">'+lFold+'</h2>';
	}
	//console.log("dos= "+nbRow+" , "+nbCell);
	//console.log("Dos= "+lFold);
	
});
socket.on("yourFile",function(file){
	if (nbCell<3){
		if(file.endsWith('.xlsx') || file.endsWith('.xls')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="excel.png" ondragstart="drag(event,this)" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.png')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="png.png" ondragstart="drag(event,this)" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.jpg')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="jpg.png" ondragstart="drag(event,this)" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.pdf')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="pdf.png" ondragstart="drag(event,this)" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.js')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="js.png"  ondragstart="drag(event,this)" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.html') || file.endsWith('.ejs')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="html.png" ondragstart="drag(event,this)"source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.json')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="json.png" ondragstart="drag(event,this)" source="'+file+'">'+file+'</h2>';
		}
		else{
		tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="file.png" ondragstart="drag(event,this)" source="'+file+'">'+file+'</h2>';
		}
		nbCell++;
	}else{
		nbRow++;
		nbCell=0;
		var nouvelleLigne = document.getElementById("tableau").insertRow(-1);
		nouvelleLigne.insertCell(0);
		nouvelleLigne.insertCell(1);
		nouvelleLigne.insertCell(2);
		if(file.endsWith('.xlsx') || file.endsWith('.xls')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="excel.png" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.png')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="png.png" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.jpg')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="jpg.png" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.pdf')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="pdf.png" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.js')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="js.png" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.html') || file.endsWith('.ejs')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="html.png" source="'+file+'">'+file+'</h2>';
		}else if(file.endsWith('.json')){
			tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="json.png" source="'+file+'">'+file+'</h2>';
		}
		else{
		tab.rows[nbRow].cells[nbCell].innerHTML+='<h2 source="'+file+'" class="elem file" ><img src="file.png" source="'+file+'">'+file+'</h2>';
		}
	}
	//console.log("File= "+file);
	//console.log("File= "+nbRow+" , "+nbCell);
});


function openFolder(name){
	//console.log(name.innerText);
	socket.emit('openFold',name);
}

socket.on('clear',function(){
	$('#myFile').empty();
	nbCell=0;
	nbRow=0;
	var nouvelleLigne = document.getElementById("tableau").insertRow(-1);
	nouvelleLigne.insertCell(0);
	nouvelleLigne.insertCell(1);
	nouvelleLigne.insertCell(2);
});

socket.on('openFile',function(file,value){
  $('#textAr')[0].value=value;
    $( "#dialog" ).dialog({
      modal: true,
	   height: 500,
	   width: 700,
	   title:file,
	   buttons: {
        Ok: function() {
          socket.emit('saveFile',file,$('#textAr')[0].value);
		   $( this ).dialog( "close" );
        }
      }
    });
  $('#textAr')[0].style="  border:1px solid #999999;width:100%;height:100%;margin:5px 0; padding:3px;";
});

function retour(){
	socket.emit('closeFolder');
}

function addFolder(){
	nom=window.prompt("nom du dossier","");
	if(nom!='null'){
	socket.emit('createFolder',nom);}
}
function addFile(){
	nom=window.prompt("nom du fichier","");
	if(nom!='null'){
	socket.emit('createFile',nom);}
}

function rename(fold){
	name=window.prompt("nouveau nom","");
	if (name!='null'){
	socket.emit('rename',fold,name);}
}

function remove(elem){
	socket.emit('delete',elem)
}

document.oncontextmenu = function (event) {//desable context menu on rightClick
   	 return false;
}


$(document).on('dragenter', '#tableau', function(e) {
			if (!e.currentTarget.classList.contains("table")){
            $(this).css('background-color', 'b2cfff');
            $(this).css('opacity', '0.7');
			}
            return false;
});
 


$(document).on('dragover', '#tableau', function(e){
            e.preventDefault();
            e.stopPropagation();
            if (!e.currentTarget.classList.contains("table")){
            $(this).css('background-color', 'b2cfff');
            $(this).css('opacity', '0.7');
			}
            return false;
});
 
$(document).on('dragleave', '#tableau', function(e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).css('background-color', 'white');
            $(this).css('opacity', '1');
            return false;
});

$(document).on('drop', '#tableau', function(e) {
            e.preventDefault();
            e.stopPropagation();
            $(this).css('background-color', 'white');
            $(this).css('opacity', '1');
            return false;
});
function dropFile(e){
	name=e.dataTransfer.getData("fileName");
	fold=e.path[0].getAttribute('source');
	if (name!='null' && name!="undefined" && name!=""){
		if (fold!='null' && fold!="undefined" && fold!=""){
			socket.emit('move',fold,name);
		}
	}
}

function drag(ev,elem) {
    ev.dataTransfer.setData("fileName", elem.getAttribute('source'));
}
</script>